<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ID_Sistema" value="7712254568546751"/>
    <add key="Servidor_Queries" value="localhost"/>
    <add key="Database_Queries" value="DORAN"/>
    <add key="Usuario_Queries" value="sa"/>
    <add key="Gerador_Queries" value="lzLNCC+/JJ4="/>
    <add key="PastaVirtual_Queries" value="http://localhost:49416/csv/"/>
    <add key="PastaFisica_Queries" value="C:\FONTES\ECOLIVERY\CSV\"/>
    <add key="PastaVirtualPDF" value="http://localhost:49416/pdf/"/>
    <add key="PastaFisicaPDF" value="C:\FONTES\ECOLIVERY\PDF\"/>
    <add key="PastaAplicacao" value="C:\FONTES\ECOLIVERY\"/>
    <add key="PastaVirtual" value="http://localhost:49416/"/>
    <add key="PastaVirtual_Externa" value="http://localhost:49416/"/>
    <add key="Modelo_ORCAMENTO" value="C:\FONTES\ECOLIVERY\MATRIZ\orcamento_vendas.htm"/>
    <add key="Modelo_ORCAMENTO_ProximaPagina" value="C:\FONTES\ECOLIVERY\MATRIZ\orcamento_proxima_pagina_vendas.htm"/>
    <add key="NUMERO_ITENS_PRIMEIRA_PAGINA" value="4"/>
    <add key="NUMERO_ITENS_PROXIMA_PAGINA" value="9"/>
    <add key="Modelo_PEDIDO" value="C:\FONTES\ECOLIVERY\MATRIZ\pedido_vendas.htm"/>
    <add key="Modelo_PEDIDO_ProximaPagina" value="C:\FONTES\ECOLIVERY\MATRIZ\pedido_vendas_proxima_pagina.htm"/>
    <add key="NUMERO_ITENS_PRIMEIRA_PAGINA_PEDIDO" value="3"/>
    <add key="NUMERO_ITENS_PROXIMA_PAGINA_PEDIDO" value="6"/>
    <add key="Modelo_COMPRA" value="C:\FONTES\ECOLIVERY\MATRIZ\pedido_compras.htm"/>
    <add key="Modelo_COMPRA_ProximaPagina" value="C:\FONTES\ECOLIVERY\MATRIZ\pedido_compras_proxima_pagina.htm"/>
    <add key="Modelo_SEPARACAO" value="C:\FONTES\ECOLIVERY\MATRIZ\pedido_separacao.htm"/>
    <add key="Modelo_SEPARACAO_ProximaPagina" value="C:\FONTES\ECOLIVERY\MATRIZ\pedido_separacao_proxima_pagina.htm"/>
    <add key="MODELO_ACAO_CORRETIVA" value="C:\FONTES\ECOLIVERY\MATRIZ\acao_corretiva_rnc.htm"/>
    <add key="NUMERO_ITENS_PRIMEIRA_PAGINA_PEDIDO_COMPRA" value="3"/>
    <add key="NUMERO_ITENS_PROXIMA_PAGINA_PEDIDO_COMPRA" value="6"/>
    <add key="NUMERO_ITENS_PRIMEIRA_PAGINA_PEDIDO_SEPARACAO" value="16"/>
    <add key="NUMERO_ITENS_PROXIMA_PAGINA_PEDIDO_SEPARACAO" value="19"/>
    <add key="PASTA_CERTIFICADO" value="C:\FONTES\ECOLIVERY\MATRIZ\"/>
    <add key="PASTA_RNC" value="C:\FONTES\ECOLIVERY\MATRIZ\"/>
    <add key="PASTA_ETIQUETAS" value="C:\FONTES\ECOLIVERY\ETIQUETA\"/>
    <add key="PASTA_ETIQUETAS_GALPAO" value="C:\FONTES\ECOLIVERY\ETIQUETA_GALPAO\"/>
    <add key="PASTA_ETIQUETAS_ESTOQUE_GALPAO" value="C:\FONTES\ECOLIVERY\ETIQUETA_ESTOQUE_GALPAO\"/>
    <add key="PASTA_ETIQUETAS_ESTOQUE" value="C:\FONTES\ECOLIVERY\ETIQUETA_ESTOQUE\"/>
    <add key="MATRIZ_ETIQUETA_SEPARACAO" value="C:\FONTES\ECOLIVERY\ETIQUETA\ETIQUETA_SEPARACAO.PRN"/>
    <add key="MATRIZ_SOLICITACAO_ESTOQUE" value="C:\FONTES\ECOLIVERY\MATRIZ\"/>
    <add key="PASTA_RPS" value="C:\FONTES\ECOLIVERY\RPS\"/>
    <add key="SERVIDOR_SMTP" value="smtp.doran.com.br"/>
    <add key="USUARIO_SMTP" value="caio@doran.com.br"/>
    <add key="PORTA_SMTP" value="587"/>
    <add key="SENHA_SMTP" value="carunna01"/>
    <add key="SSL" value="Nao"/>
    <add key="Pasta_Upload_Anexos" value="~/Anexos/"/>
    <add key="PastaFisicaAnexos" value="C:\FONTES\ECOLIVERY\Anexos\"/>
    <add key="PastaVirtualAnexos" value="http://localhost:49416/Anexos/"/>
    <add key="Pasta_Fisica_Documento_Cliente" value="C:\FONTES\ECOLIVERY\Documentos\Cliente\"/>
    <add key="Pasta_Virtual_Documento_Cliente" value="http://localhost:49416/Documentos/Cliente/"/>
    <add key="Pasta_Fisica_Documento_Fornecedor" value="C:\FONTES\ECOLIVERY\Documentos\Fornecedor\"/>
    <add key="Pasta_Virtual_Documento_Fornecedor" value="http://localhost:49416/Documentos/Fornecedor/"/>
    <add key="Pasta_Fisica_Documento_Produto" value="C:\FONTES\ECOLIVERY\Documentos\Produto\"/>
    <add key="Pasta_Virtual_Documento_Produto" value="http://localhost:49416/Documentos/Produto/"/>
    <add key="Pasta_Fisica_Documento_Transportadora" value="C:\FONTES\ECOLIVERY\Documentos\Transportadora\"/>
    <add key="Pasta_Virtual_Documento_Transportadora" value="http://localhost:49416/Documentos/Transportadora/"/>
    <add key="PASTA_BOLETO_ITAU" value="C:\FONTES\ECOLIVERY\BOLETOS\ITAU\"/>
  </appSettings>
  <connectionStrings>
    <add name="Doran_Servicos_ORM.Properties.Settings.Doran_ERP_ServicosConnectionString" connectionString="Data Source=CAIODORAND8A3\SQLEXPRESS;Initial Catalog=Doran_ERP_Servicos;Persist Security Info=True;User ID=sa;Password=56Runna01" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization uiCulture="pt-BR" culture="pt-BR"/>
    <httpRuntime maxRequestLength="52429" executionTimeout="300"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="6144000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>